@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.login{
    background-size: cover;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container h1 {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 50px;
}



.login-form {
    border-radius: 8px;
    margin-top: 50px;
    text-align: center;
}



input::placeholder {
    color: rgb(253, 253, 254);
    font-size: 15px;
    opacity: 55%;
}



.login-form h4 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
}


.form-control {
    border-radius: 5px;
}

.btn-signup {
    width: 100%;
    background-color: #094a60;
    padding-inline: 15px;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 18px;
    width: auto;
    text-align: center;
    justify-items: center;
    color: rgb(255, 255, 255);
    margin-left: 25px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;

}


.btn-signup:hover {
    background-color: #113847;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: #ffffff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.login-form-main {
    position: relative;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.078)); /* Gradient for the glossy effect */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(27, 26, 26, 0.142); /* Light shadow for depth */
    backdrop-filter: blur(8px); /* Applying blur for glossy look */
    padding: 30px;
    z-index: 1; /* Ensure it sits on top */
    overflow: hidden;
}